<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://webfontworld.github.io/amore/AritaBuri.css" rel="stylesheet">
    <link rel="stylesheet" href='{{"/assets/css/styles.css" | relative_url }}'>
    <style>
        header {
            background-color: white;
            
        }

        body {
            background-color: white;
        }

        footer {
            color : rgba(211, 211, 211, 0.493);
            background-color: white;
            height: 100px;
            font-family: "Hana", sans-serif !important;
            padding-top : 40px;
        }
        
    </style>
    <script>
        var button = document.getElementById("pills-contact-tab");

    button.addEventListener("click", function() {
    button.style.backgroundColor = "#009490";
    button.style.color = "white";
    });
    </script>
</head>
<header style="color : black;">
    <nav id="nav">
        {% include nav2.html %}
    </nav>
</header>
<div class = "container">
{{content}}

</body>
<footer id="footer">
    {% include footer.html %}
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</html>