---
layout: bootstrap
---

<style>
    header {
        background-color: white;
    }

    body {
        background-color: white;

    }

    footer {
        color: rgba(10, 9, 9, 0.37);
        background-color: white;
        height: 100px;
        font-family: "Hana", sans-serif !important;
        padding-top: 20px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var button = document.getElementById("pills-contact-tab");

        button.addEventListener("click", function () {
            button.style.backgroundColor = "#009490";
            button.style.color = "white";
        });
    });

</script>
    <header style="color : black;">
        <nav id="nav">
            {% include header.html %}
        </nav>
    </header>
    <div class="container">

    <body>
        {{ content }}
    </body>

    <footer id="footer">
        {% include footer.html %}
    </footer>
</div>